.form_for_edit{
    width: 100%;
    height: 100vh;
    position: fixed !important;
    background: rgba(250, 250, 250, 0.7);
    display: none;
    top: 0;
}

.form_for_edit form{
    width: 50%;
    margin-top: 150px;
}


.form_for_edit.modal-active{
    display: flex;
}